body {
  align-items: center;
  background: url(../assets/pattern.jpeg) repeat;
  color: blue;
  font-family: "DM Sans", sans-serif;
  justify-content: center;
  margin: 0;
  text-align: center;
}

main {
  margin-top: var(--header-height);
  padding: 50px 0;

  html.js & {
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
  }

  html.js.is-loaded & {
    backface-visibility: visible;
    opacity: 1;
    visibility: visible;
  }
}

h1 {
  font-size: 50px;
  margin: 0;
}

img {
  margin-top: 30px;
}
