@import "./mixins";

$xs-mobile: 400px;
$mobile: 450px;
$xs-tablet: 600px;
$s-tablet: 768px;
$l-tablet: 1024px;
$medium: 1366px;
$wide: 1536px;
$wider: 1680px;
$widest: 1920px;

$z-indexes: ("scrollbar");

:root {
  --header-height: 100px;
}
