.preloader {
  display: none;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;

  &.is-running {
    html.js & {
      display: block;
    }
  }
}

.preloader__number {
  color: red;
  font-size: 40px;
}
